name: "Build and publish Dotnet 6"
description: "Build and publish Dotnet 6 web apps"

inputs:
  destfolder:
    description: "folder under c:\\inetpub\\wwwroot"
    required: true
  sourcefolder:
    description: "name of the sourcefolder undr c:\\drop"
runs:
  using: "composite"
  steps:
    - name: Take application offline
      run: New-Item -Type File -Name app_offline.htm -Path C:/inetpub/wwwroot/${{destfolder}} -Force
      shell: cmd
    - name: Deploy to IIS
      run: Copy-Item c:/drop/@{{sourcefolder}}/* C:/inetpub/wwwroot/${{destfolder}} -Recurse -Force
      shell: cmd
    - name: Bring the app back online
      run: Remove-Item C:/inetpub/wwwroot/${{destfolder}}\app_offline.htm
      shell: cmd
    
