name: "Build and publish Dotnet 6"
description: "Build and publish Dotnet 6 web apps"

inputs:
  destfolder:
    description: "folder under c:\\inetpub\\wwwroot"
    required: true
  sourcefolder:
    description: "name of the sourcefolder undr c:\\drop"
    required: true
runs:
  using: "composite"
  steps:
    - name: Take application offline
      run: echo . >  C:/inetpub/wwwroot/${{inputs.destfolder}}/app_offline.htm
      shell: cmd
    - name: Deploy to IIS
      run: xcopy c:/drop/@{{inputs.sourcefolder}}/* C:/inetpub/wwwroot/${{inputs.destfolder}} /E /Y /H /R
      shell: cmd
    - name: Bring the app back online
      run: del C:/inetpub/wwwroot/${{inputs.destfolder}}/app_offline.htm
      shell: cmd
    
